.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
}

.game-header {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
	text-align: center;
}

.game-status-container h2 {
	color: var(--accent);
	margin-bottom: 0.5rem;
}

.game-status {
	color: var(--secondary);
}

.game-boards {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	padding: 0 2rem;
	width: 100%;
	max-width: 1500px;
}

.game-board-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 650px;
}

.game-board-container h3 {
	color: var(--secondary);
	margin-bottom: 0.5rem;
}

.board-hint {
	color: var(--secondary);
	margin-top: 0.5rem;
}

.game-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}

.game-btns button {
	padding: 0.5rem 1rem;
	border-radius: 4px;
}

.game-btns button:hover {
	background-color: var(--accent);
}