/* AUTH FORM GROUP */
.auth-form-group {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.auth-input {
    width: 100%;
    padding: 1.25rem 1.75rem;
    border-radius: 8px;
    border: 2px solid #508497;
    color: #8db5c3;
    font-size: 1rem;
    background: none;
    position: relative;
    
    &:focus {
        outline: none;
        border-color: #8db5c3;
    }
}

.auth-label {
    position: absolute;
    top: 50%;
    left: 1.8rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #508497;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.auth-input.has-value + .auth-label,
.auth-input:focus + .auth-label {
    transform: translateY(0%);
    top: 8px;
    font-size: 0.8rem;
}

/* GAME BOARD */
.game-board {
    width: 100%;
    background-color: #f0f8ff;
    border: 2px solid #000;
    border-radius: 8px;
}

.board-label {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    fill: #000;
    font-weight: bold;
}

.board-cell {
    fill: #ffffff;
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
    transition: fill 0.2s;
}
  