/* AUTH FORM GROUP */
.auth-form-group {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.auth-input {
    width: 100%;
    padding: 1.25rem 1.75rem;
    border-radius: 8px;
    border: 2px solid #508497;
    color: #8db5c3;
    font-size: 1rem;
    background: none;
    position: relative;
    
    &:focus {
        outline: none;
        border-color: #8db5c3;
    }
}

.auth-label {
    position: absolute;
    top: 50%;
    left: 1.8rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #508497;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.auth-input.has-value + .auth-label,
.auth-input:focus + .auth-label {
    transform: translateY(0%);
    top: 8px;
    font-size: 0.8rem;
}

/* SHIP */
.ship {
    transform-origin: center center;
    transition: transform 0.1s;
}

.shake {
    animation: shake 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Shake anaimation */
@keyframes shake {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(5deg); }
    66% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

/* Chat */
.chat-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 300px;
    background: #12252b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.messages {
    padding: 1rem;
    overflow-y: auto;
}

.no-msg {
    font-style: italic;
}

.messages div {
    word-break: break-all;
    color: #8db5c3;
}

.messages div:not(:last-child) {
    margin-bottom: 0.5rem;
}

.msg-sender {
    font-weight: 600;
    color: #508497;
}

.send-msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #508497;
}

.send-msg input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    color: #8db5c3;
    background: #12252b;
    border-bottom-left-radius: 8px;
}

.send-msg input::placeholder {
    color: #508497;
}

.send-msg button {
    appearance: none;
    border: none;
    background: #508497;
    color: #12252b;
    padding: 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom-right-radius: 8px;

    background-image: linear-gradient(90deg, #8db5c3 50%, transparent 50%);
    background-position: right;
    background-size: 200% 100%;
    transition: background-position 0.15s ease-out;

    &:hover {
        background-position: left;
    }
}